@tailwind base;
@tailwind components;
@tailwind utilities;

*::selection {
    @apply bg-yellow-400 bg-opacity-40;
}

#home-section {
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(8, 7, 0, 0.6)),
        url('../utils/main_background.jpg');
    ;
    background-size: cover;
    background-position: center;
}

#home-section #main-text {
    background-image: url('https://images.pexels.com/photos/414659/pexels-photo-414659.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
}